input{
    font-size:34px;
    width:350px;
    margin-bottom:10px;
    border-radius:20px;
    margin: auto;
}
button{
    font-size:23px;
    height:50px;
    width:85.5px;
    border-radius:20px;
}
.main{
    margin: auto;
    display: inline-block;
    background:lightpink;
    padding:15px;
    border-radius:20px;
    margin-left: 32%;
}
h1{
    font-size:40px;
    margin-left: 39.5%;
}